flows.json
[{"id":"a2ebbef1.eeab7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8196071d.17d948","type":"ui_form","z":"a2ebbef1.eeab7","name":"","label":"","group":"d898c511.0171f8","order":0,"width":0,"height":0,"options":[{"label":"pregnancies","value":"P","type":"number","required":true},{"label":"homo_IR","value":"HI","type":"number","required":true},{"label":"Insulin levels","value":"IN","type":"number","required":true},{"label":"diabetes pedigree function ","value":"DPF","type":"number","required":true},{"label":"glucose","value":"GL","type":"number","required":true},{"label":"blood pressure","value":"BP","type":"number","required":true},{"label":"age","value":"AGE","type":"number","required":true}],"formValue":{"P":"","HI":"","IN":"","DPF":"","GL":"","BP":"","AGE":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":107,"y":189,"wires":[["acb5fa69.757708","be2c7633.a7bb98"]]},{"id":"2608d6e2.1b269a","type":"ui_dropdown","z":"a2ebbef1.eeab7","name":"","label":"","tooltip":"","place":"Select option","group":"d898c511.0171f8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"PCOS","value":"PCOS","type":"str"},{"label":"AN","value":"Acanthosis Nigricans","type":"str"},{"label":"OIRC","value":"Other Insulin resistance conditions ","type":"str"},{"label":"NONE","value":"none","type":"str"}],"payload":"","topic":"","x":100,"y":359,"wires":[["c36e217a.43157"]]},{"id":"be2c7633.a7bb98","type":"debug","z":"a2ebbef1.eeab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":293.0000305175781,"y":211.0000400543213,"wires":[]},{"id":"acb5fa69.757708","type":"function","z":"a2ebbef1.eeab7","name":"","func":"global.set(\"p\",msg.payload.P)\nglobal.set(\"HI\",msg.payload.HI)\nglobal.set(\"IN\",msg.payload.IN)\nglobal.set(\"DPF\",msg.payload.DPF)\nglobal.set(\"GL\",msg.payload.GL)\nglobal.set(\"BP\",msg.payload.BP)\nglobal.set(\"AGE\",msg.payload.AGE)\nreturn msg;","outputs":1,"noerr":0,"x":269.00000381469727,"y":98.00003862380981,"wires":[["d8999794.278bb8"]]},{"id":"d8999794.278bb8","type":"http request","z":"a2ebbef1.eeab7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":459.00000762939453,"y":125.00003814697266,"wires":[["51a2164b.cae108","bddc106.c02adf"]]},{"id":"51a2164b.cae108","type":"debug","z":"a2ebbef1.eeab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":642,"y":84,"wires":[]},{"id":"bddc106.c02adf","type":"function","z":"a2ebbef1.eeab7","name":"","func":"var token=msg.payload.token\nvar P=global.get(\"P\")\nvar HI=global.get(\"HI\")\nvar IN=global.get(\"IN\")\nvar DPF=global.get(\"DPF\")\nvar GL=global.get(\"GL\")\nvar BP=global.get(\"BP\")\nvar AGE=global.get(\"AGE\")\nvar S1=global.get(\"S1\")\nvar S2=global.get(\"S2\")\nvar S3=global.get(\"S3\")\nmsg.payload={\"fields\":[\"state 1\",\"state 2\",\"state 3\",\"P\",\"HI\",\"IN\",\"DPF\",\"GL\",\"BP\",\"AGE\"],\"values\":[[S1,S2,S3,P,HI,IN,DPF,GL,BP,AGE]]}\nmsg.headers={\"Authorization\":\"Bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":621.0000076293945,"y":189.00003910064697,"wires":[["ea22db60.d01f48","aeb9bc9e.def2b"]]},{"id":"ea22db60.d01f48","type":"debug","z":"a2ebbef1.eeab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":809,"y":145,"wires":[]},{"id":"aeb9bc9e.def2b","type":"http request","z":"a2ebbef1.eeab7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0041b82a-3db1-4fa3-a1cd-5ba6d3eeb1da/deployments/a277405f-67cd-4121-8e0b-ea81982b5269/online","tls":"","proxy":"","authType":"basic","x":682.0000076293945,"y":282.0000400543213,"wires":[["d0d4e328.ce788","3e3aacfb.2a9b54"]]},{"id":"d0d4e328.ce788","type":"debug","z":"a2ebbef1.eeab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":885.0000152587891,"y":242.0000400543213,"wires":[]},{"id":"c36e217a.43157","type":"function","z":"a2ebbef1.eeab7","name":"","func":"if(msg.payload==\"PCOS\"){\n    global.set(\"S1\",0)\n    global.set(\"S2\",1)\n    global.set(\"S3\",1)\n}\nelse if(msg.payload==\"OIRC\"){\n    global.set(\"S1\",0)\n    global.set=(\"S2\",1)\n    global.set(\"S3\",0)\n}\nelse if(msg.payload==\"AN\"){\n    global.set(\"S1\",0)\n    global.set(\"S2\",0)\n    global.set(\"S3\",0)\n}\nelse if(msg.payload==\"NONE\"){\n    global.set(\"S1\",0)\n    global.set(\"S2\",0)\n    global.set(\"S3\",1)\n}\n","outputs":1,"noerr":0,"x":280,"y":378,"wires":[["8060c728.33b868"]]},{"id":"8060c728.33b868","type":"debug","z":"a2ebbef1.eeab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":458,"y":378,"wires":[]},{"id":"3e3aacfb.2a9b54","type":"function","z":"a2ebbef1.eeab7","name":"","func":"msg.payload=msg.payload.values[0][0][1]\nreturn msg;","outputs":1,"noerr":0,"x":864,"y":337.800048828125,"wires":[["2b42f92b.0658a6"]]},{"id":"2b42f92b.0658a6","type":"ui_text","z":"a2ebbef1.eeab7","group":"d898c511.0171f8","order":2,"width":0,"height":0,"name":"","label":"Outcome","format":"{{msg.payload}}","layout":"row-spread","x":880.6000289916992,"y":449.0000190734863,"wires":[]},{"id":"d898c511.0171f8","type":"ui_group","z":"","name":"GESTATIONAL DIABETES","tab":"ce78ede3.0f972","disp":true,"width":"6","collapse":false},{"id":"ce78ede3.0f972","type":"ui_tab","z":"","name":"Diabetes ","icon":"dashboard","disabled":false,"hidden":false}]